#root {
    -fx-background-image: url("images/wallpaper2.png");
}
#gameButton:focused {
    -fx-border-color: white;
    -fx-border-radius: 23px;
    -fx-background-insets: -1.5;
}
#button1:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
#boardLine {
    -fx-stroke-width: 1.5;
    -fx-fill: #fdf5e6;
}